@import 'AppVariables.sass'

@media ( max-width: 1200px)
    .App
        width: 992px

    //Service Page

    .services
        &__variants
            &_item
                width: 280px    

    //Main Page

    .background
        &__content
            width: 992px
    
    .welcome
        &__title
            font-size: 34px
            span
                font-size: 34px

    .partners
        &__logos
            &-item
                width: 200px


@media ( max-width: 991px)
    .App
        width: 768px

    //Main Page

    .background
        &__content
            width: 768px   
            &_start
                &-title
                    font-size: 30px 
                    span
                        font-size: 40px
            &_advantages
                padding-top: 100px
                &-text
                    font-size: 30px

    .welcome
        &__content
            gap: 20px
            &_photo
                width: 400px
            &_text
                &-description
                    p
                        font-size: 16px
    
    .partners
        &__logos
            &-item
                width: 150px

    //Examples Page
    
    .examples
        &__title
            font-size: 30px
        &__description
            font-size: 18px
        &__carousel
            width: 700px
            

    //Service Page

    .services
        &__variants
            gap: 75px
            &_item
                width: 250px
    
    //Price Page
    
    .price
        &__title
            font-size: 30px
        &__description
            font-size: 20px
    
    .subtable
        &__title
            width: 500px
        &__price
            font-size: 10px

@media (max-width: 767px)

    .App
        width: 600px

    //Navbar

    .header
        &__navbar
            position: fixed
            top: 0
            left: -225px
            display: flex
            flex-direction: column
            width: 220px
            height: 100%
            background-color: #fff
            border: 2px solid $main-color
            border-top-right-radius: 16px
            border-bottom-right-radius: 16px
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4)
            transition: transform 0.3s linear
            &_links
                flex: 1
                display: flex
                flex-direction: column
                align-content: flex-start
                padding-top: 40px
                padding-right: 25px
                &-item
                    margin: 10px 0
                    margin-left: 0
        &__button
            display: block
            cursor: pointer
            font-size: 24px
            margin-left: auto

    // Main Page

    .background
        &__content
            width: 600px
            &_advantages
                padding-top: 50px
                &-cards
                    display: flex
                    flex-direction: column
                    flex-wrap: wrap
                    align-content: center
                    gap: 0
    
    .partners
        &__logos
            margin-top: 0px
            padding-bottom: 50px
            display: flex
            flex-direction: column
            gap: 50px
            &-item
                width: 200px
    
    
    //Service Page

    .services
        &__variants
            &_item
                scale: 1.2
                margin-top: 10px
                width: 200px
                height: 350px
                pointer-events: none
                &-title
                    font-size: 18px
                &-list
                    margin-top: 10px
                    margin-right: 10px
                    ul
                        li
                            font-size: 12px

    //Contact Page

    .contacts
        &__title
            font-size: 36px
        &__info
            &_connections
                &_telephone
                    &-title
                        font-size: 20px
                    &-description
                        a
                            font-size: 14px
                &_links
                    &-title
                        font-size: 20px
                    &-description
                        font-size: 14px
    
    //Price Page
    
    .subtable
        height: 70px
        &__title
            width: 300px

    //Example Page
    
    .examples
        &__description
            font-size: 16px
        &__carousel
            width: 600px
                    
@media ( max-width: 575px)
    .App
        width: 300px

    //Service Page
    
    .services
        &__title
            font-size: 26px
        &__subtitle
            font-size: 16px
        &__guarantee
            ul
                li
                    font-size: 14px
        &__variants
            gap: 20px
            margin-top: 0px
            display: flex
            flex-direction: column
            flex-wrap: wrap
            align-content: center
            &_item
                scale: 1.05
                width: 250px
                height: 250px
                margin-top: 20px
                &-title
                    font-size: 18px
                &-list
                    ul
                        li
                            font-size: 12px
    
    //Contact Page

    .contacts
        &__title
            font-size: 22px
        &__info
            display: flex
            flex-direction: column

    //Price Page

    .price
        &__title
            font-size: 22px
        &__description
            font-size: 16px
        &__table
            height: 80px
            &-name
                font-size: 16px
        &__total
            &-title
                font-size: 16px
    
    .subtable
        height: 90px
        &__title
            width: 250px
            font-size: 10px
    
    //Example Page

    .examples
        &__title
            font-size: 34px
        &__description
            font-size: 16px
            font-weight: normal
        &__model
            width: 100%
            height: 400px
        &__carousel
            width: 400px
    #photo__title
        font-size: 24px

    //Main Page

    .background
        &__content
            &_start
                &-title
                    font-size: 28px
                    span
                        font-size: 38px
            &_button
                margin-top: 30px       
    
    .welcome
        &__content
            margin-top: 10px
            &_text
                &-description
                    p
                        font-size: 14px
            &_photo
                display: none

    .partners
        &__title
            span
                font-size: 34px