.advantages__cards_item{
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;  
    transition: 1s all;
    color: rgb(121, 121, 121);
}

.advantages__cards_item:hover {
    color: #ff7b00;
}

.advantages__cards_item_title{
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
    white-space: pre-line;
    color: white;

}

.advantages__cards_item_descriprion {
    padding-top: 10px;
    text-align: start;
    width: 250px;
    color: rgb(255, 254, 254);
    text-align: center;
}

@media (max-width: 991px) {

    .advantages__cards_item {
        width: 220px;
    }

    .advantages__cards_item_title {
        font-size: 16px;
    }

    .advantages__cards_item_descriprion {
        font-size: 14px;
    }
}

@media (max-width: 767px) {

    .advantages__cards_item {
        width: 300px;
        height: 250px;
    }

    .advantages__cards_item_title {
        font-size: 22px;
    }

    .advantages__cards_item_descriprion {
        font-size: 16px;
    }
}