.button {
    background-color: #ff7b00;
    border: 1px solid #ff7b00;
    height: 60px;
    width: 250px;
    border-radius: 25px;
    transition: 1s all;
}

span {
    color: white;
    font-size: 18px;
}

.button:hover {
    transition: 0.5s all;
    background-color: #fca85978;
}